@import "../lib/bulma/v100/bulma.min.css";
@import "../lib/font-awesome/v611/css/font-awesome.min.css";
@import "../lib/shfb/presentationStyle.css";

body { font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.fixedheader { padding-bottom: 5px; }
.card-header { background-color: #0066cc; }
.table { border: none !important; }

.logo { width: 218px; height: 201px; }
.game-datetime { font-size: small; }
.negative-value { color: red; }

.table .game-card { text-align: center; padding: 3px; width: 123px; height: 172px; } /* 70% of actual image size */
.score-card .align-right { text-align: right; }
.player-current { font-style: italic; font-weight: bold; }
.hassle-history { font-size: smaller; margin: 0px !important; color: darkgray; }

/* My SHFB modifications */
.toc-menu a {color: #A9A9A9;}

.content thead th { background-color: transparent; }
.content span.selflink { color: #1E90FF; }
.glossaryEntry {color: #A9A9A9;}
.menu-label { background-color: #FF8C00; padding: 5pt; }
.menu-label strong { color: black; }
.quickLink { line-height: .75; }
.table td.thin { padding-top: 0em; padding-bottom: 0em; }
