<RunSettings>
  <!-- https://learn.microsoft.com/en-us/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-file -->

  <!-- Configurations that affect the Test Framework -->
  <RunConfiguration>
    <ResultsDirectory>.\TestResults</ResultsDirectory>
  </RunConfiguration>

  <!--<DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage"/>
    </DataCollectors>
   </DataCollectionRunSettings>-->

  <!-- Configuration for loggers -->
  <LoggerRunSettings>
    <Loggers>
      <Logger friendlyName="html" enabled="True">
        <Configuration>
          <LogFileName>details.html</LogFileName>
        </Configuration>
      </Logger>
      <!--<Logger friendlyName="blame" enabled="True" />-->
    </Loggers>
  </LoggerRunSettings>

  <!-- Adapter Specific sections -->
  <xUnit>
    <MethodDisplay>method</MethodDisplay>
    <MethodDisplayOptions>replaceUnderscoreWithSpace,useOperatorMonikers</MethodDisplayOptions>
    <PreEnumerateTheories>true</PreEnumerateTheories>
  </xUnit>

</RunSettings>