# This workflow is triggered when a pull request is merged and closed on the main branch
name: ♾️ Pull Request Merge

on:
  pull_request:
    types: [ "closed" ]
    branches: [ "main" ]

jobs:
  Merge:
    if: github.event.pull_request.merged == true
    uses: ./.github/workflows/dotnet.yml # In same repository, uses file from same commit as the calling workflow
    with:
      build-config: 'Debug'